<div class="page-width login">
<div class="width-50">
  
  {% section 'login_image' %}
 
  </div>
  <div class="width-50 login_form_div">
    
    
    <div class="login_div">
       {% section 'login_form' %}
<div class="login_div">

      <div class="section-header">
        <h1 class="text-center">{{ 'customer.activate_account.title' | t }}</h1>
        <p class="text-center">{{ 'customer.activate_account.subtext' | t }}</p>
        <p>&nbsp;</p>
      </div>

      <div class="form-vertical">
        {% form 'activate_customer_password' %}

          {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          
          <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">

          <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

          <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
          <div class="last_btn"><input class="btn" type="submit" name="decline" value="{{ 'customer.activate_account.cancel' | t }}"></div>
        {% endform %}
      </div>

  </div>
     
    </div>
  </div>
</div>