{%- if comment.status == 'pending' -%}
  {%- assign number_of_comments = article.comments_count | plus: 1 -%}
{%- else -%}
  {%- assign number_of_comments = article.comments_count -%}
{%- endif -%}
<script type="text/javascript" src="{{ 'vendornew.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ 'commonnew.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ 'pagesnew.js' | asset_url }}"></script>


{{ 'home_2.css' | asset_url | stylesheet_tag }}

<div class="article_content_box">
<div class="blog_header">
 <div class="feature-row__items feature-row">
   <div class="dektop">
      {% if article.metafields.header_image.header_image != blank %}
      {%- assign img_url = article.metafields.header_image.header_image | replace: '_1x1.', '_{width}x.' -%}
       {% include 'image-style', image: article.metafields.header_image.header_image, height: 545, wrapper_id: wrapper_id, img_id: img_id %} 
       <a href="{{ article.url }}">
            <img id="" class="feature-row_image lazyload"
         src="{{ article.metafields.header_image.header_image }}"
         data-src="{{ img_url }}"
         data-widths="[180, 360, 540, 720, 900, 1000, 1080, 1296, 1512, 1728, 1920, 2048]"
         data-aspectratio="{{ article.metafields.header_image.header_image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ article.metafields.header_image.header_image.alt | escape }}">
          </a>      
                    
     {% else %}
     
     {%- assign img_url = 'art_head_blk.jpg' | asset_url -%}
     {% include 'image-style', image: 'art_head_blk.jpg' | asset_url, height: 545, wrapper_id: wrapper_id, img_id: img_id %} 
       <a href="{{ article.url }}">
            <img id="" class="feature-row_image lazyload"
         src="{{ 'art_head_blk.jpg' | asset_url }}"
         data-src="{{ img_url }}"
         data-widths="[180, 360, 540, 720, 900, 1000, 1080, 1296, 1512, 1728, 1920, 2048]"
         data-aspectratio="{{ article.metafields.header_image.header_image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ article.metafields.header_image.header_image.alt | escape }}">
          </a> 
     
     
     {% endif %}
     
   </div>
   
   
   <div class="mob_header" style="display:none">
     
     {% if article.metafields.header_mob_image.header_mob_image != blank %}
      {%- assign img_url = article.metafields.header_mob_image.header_mob_image | replace: '_1x1.', '_{width}x.' -%}
     {% include 'image-style', image: article.metafields.header_mob_image.header_mob_image, height: 545, wrapper_id: wrapper_id, img_id: img_id %} 
  
     
          <a href="{{ article.url }}">
            <img id="" class="feature-row_image lazyload"
         src="{{ article.metafields.header_mob_image.header_mob_image }}"
         data-src="{{ img_url }}"
         data-widths="[180, 360, 540, 720, 900, 1000, 1080, 1296, 1512, 1728, 1920, 2048]"
         data-aspectratio="{{ article.metafields.header_mob_image.header_mob_image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ article.metafields.header_mob_image.header_mob_image.alt | escape }}">
          </a>      
                    
     {% else %}
     
     {%- assign img_url = 'art_headmo_blk.jpg' | asset_url -%}
     {% include 'image-style', image: 'art_headmo_blk.jpg' | asset_url, height: 545, wrapper_id: wrapper_id, img_id: img_id %} 
       <a href="{{ article.url }}">
            <img id="" class="feature-row_image lazyload"
         src="{{ 'art_headmo_blk.jpg' | asset_url }}"
         data-src="{{ img_url }}"
         data-widths="[180, 360, 540, 720, 900, 1000, 1080, 1296, 1512, 1728, 1920, 2048]"
         data-aspectratio="{{ article.metafields.header_image.header_image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ article.metafields.header_image.header_image.alt | escape }}">
          </a> 
     
     {% endif %}
     
   </div>
   
    </div>

</div>
<div class="blog-article">
<div class="blog_wrapper">
  
  <div class="blog_header">

    <div class="section-header text-center 122">
		 {% if section.settings.blog_show_date %}
                <span class="article__date">
                {{ article.published_at | date: "%d %b %Y" }}
              </span>
          {% endif %}
      <span class="article_tag {{ article.tags }}">
        
        
        {{ article.tags }}
      </span> 
      </div>
      <h1 class="article__title" id="title-0">{{ article.title }}</h1>
{% if section.settings.blog_show_author %}
                <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
              {% endif %}
    </div>

  
<div class="rte">
  {{ article.content }}
</div>
  </div>
  
</div>
{% comment %}
<div class="text-center return-link-wrapper page-width">
  <a href="{{ blog.url }}" class="btn btn--secondary btn--has-icon-before">
    
    
    {% include 'icon-arrow-left' %}
    
    
    {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
   
  </a>
</div>
 {% endcomment %}
</div>


<script>
$(document).ready(function() {    
  $("p img, .blog-article .rte img, p iframe").parent().addClass('hasclass'); 
 });  
</script>


{% schema %}
{
  "name": {
    "da": "Opslag",
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fi": "Julkaisut",
    "fr": "Articles",
    "hi": "पोस्ट",
    "it": "Articoli",
    "ja": "投稿",
    "ko": "게시물",
    "nb": "Innlegg",
    "nl": "Berichten",
    "pt-BR": "Posts",
    "pt-PT": "Publicações",
    "sv": "Inlägg",
    "th": "โพสต์",
    "zh-CN": "文章",
    "zh-TW": "貼文"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "hi": "लेखक दिखाएं",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "hi": "दिनांक दिखाएं",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": false
    }
	
  ]
}
{% endschema %}


