<div class="page-width feature-row maxwidth_none p-0" style="background-color:{{ section.settings.bg_color }};">
  {% capture image_layout %}
    <div class="feature-row__item img_item home_featureimg" style="background-image:url({{ section.settings.image | img_url: '600x' }});">
     {% comment %}
      {% if section.settings.image != blank %}
        {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
        {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: section.settings.image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
            <img id=""
                 class="feature-row__image lazyload"
                 src="{{ section.settings.image | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ section.settings.image.alt | escape }}">
          </div>
        </div>
      

        <noscript>
          {{ section.settings.image | img_url: '600x600', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image' }}
        </noscript>
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
      {% endcomment %}
      
    </div>
  {% endcapture %}

  <div class="feature-row feature-row--{{ section.settings.layout }}">
    {% if section.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text_item">
      <div class="rte_box">
        
        
        
        <div class="icon_div parallax__element">
          {%- if section.settings.image_icon != blank -%}
          <div class="flower_img parallax__element cloud_icon">
            {% comment %}
           <img src="{{ section.settings.image_icon | img_url:'135x' }}" alt="" />
            {% endcomment %}
            <img src="{{ section.settings.image_icon | img_url:'800x800' }}" alt="" />
          </div>
           {%- endif -%} 
          
          {%- if section.settings.image_1 != blank -%}
          <div class="flower_img1 parallax__element sun_icon">
            {% comment %}
           <img src="{{ section.settings.image_1 | img_url:'74x' }}" alt="" />
            {% endcomment %}
            
           <img src="{{ section.settings.image_1 | img_url:'600x' }}" alt="" />
          </div>
           {%- endif -%}
          
        </div>
       
        

      {%- if section.settings.sub_title != blank -%}
           <h5 class="heading_h5 text-left">
             {{ section.settings.sub_title | escape }}
        </h5>
          {%- endif -%}          
          
          {%- if section.settings.title != blank -%}
            <h3 class="heading_h3 text-left">
              {{ section.settings.title | escape }}
        </h3>
          {%- endif -%}
        
      {% if section.settings.text != blank %}
        <div class="rte rte-setting featured-row__subtext">{{ section.settings.text }}</div>
      {% endif %}
      
        
        
        <div class="expertise_icons"> 
          {% for block in section.blocks %}                      
         <div class="expertise_box">
           
           
           {%- assign img_url_ex = block.settings.icon_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
           {%- assign img_url_exh = block.settings.icon_image_hover | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: block.settings.icon_image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
           {% include 'image-style', image: block.settings.icon_image_hover, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
       
            
           
           <div class="exicon_box">
             
           {% if forloop.index == 5 %}        
             <div class="ex_img_1">{% include 'icon_DNA' %}</div>
             <div class="ex_img_2">{% include 'icon_DNA_hover' %}</div>
           </div>
           {% else %}
             
             
             {% comment %}
            {%- if block.settings.icon_image != blank -%}
            <img id=""
                 class="ex_img_1 lazyload"
                 src="{{ block.settings.icon_image | img_url: '84x84' }}"
                 data-src="{{ img_url_ex }}"
                 data-widths="[84, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ block.settings.icon_image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.icon_image.alt | escape }}">
           {% endif %}
            {% endcomment %}
            
           {%- if block.settings.icon_image_hover != blank -%}            
           <img id=""
                 class="ex_img_2 lazyload"
                 src="{{ block.settings.icon_image_hover | img_url: '84x84' }}"
                 data-src="{{ img_url_exh }}"
                 data-widths="[84, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ block.settings.icon_image_hover.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.icon_image_hover.alt | escape }}">
           {% else %}         
           
           <img id=""
                 class="ex_img_2 lazyload"
                 src="{{ block.settings.icon_image | img_url: '84x84' }}"
                 data-src="{{ img_url_ex }}"
                 data-widths="[84, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ block.settings.icon_image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.icon_image.alt | escape }}">
           
           {% endif %}
           </div>
           
            {% endif %}
           
           {%- if block.settings.title != blank -%} 
           <span>{{ block.settings.title }}</span>
           {% endif %}
         </div>   
           {% endfor %}
        
        
        </div>  
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        {%- capture ariaLabel -%}
          {{- section.settings.button_label -}}
          {%- if section.settings.button_link.type == 'frontpage_link' -%}
            : {{ 'homepage.general.title' | t -}}
          {%- elsif section.settings.button_link.type == 'catalog_link' -%}
            : {{ 'collections.catalog.title' | t -}}
          {%- elsif section.settings.button_link.object.title -%}
            : {{ section.settings.button_link.object.title -}}
          {%- endif -%}
        {%- endcapture -%}

        <a href="{{ section.settings.button_link }}"
          class="btn"
          aria-label="{{ ariaLabel }}">
          {{- section.settings.button_label | escape -}}
        </a>
      {% endif %}
      </div>
    </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>



{% schema %}
{
  "name": {
    "da": "Billede med tekst",
    "de": "Foto mit Text",
    "en": "Image with text",
    "es": "Imagen con texto",
    "fi": "Kuva tekstillä",
    "fr": "Image avec texte",
    "hi": "टेक्स्ट वाली इमेज",
    "it": "Immagine con testo",
    "ja": "テキスト付き画像",
    "ko": "텍스트 포함 이미지",
    "nb": "Bilde med tekst",
    "nl": "Afbeelding met tekst",
    "pt-BR": "Imagem com texto",
    "pt-PT": "Imagem com texto",
    "sv": "Bild med text",
    "th": "รูปภาพพร้อมข้อความ",
    "zh-CN": "带文本的图片",
    "zh-TW": "附文字的圖片"
  },
  "class": "index-section expertise",
"max_blocks": 6,
  "settings": [
	{
      "type": "image_picker",
      "id": "image_icon",
     "label": "Cloud image",
	"info": "Size: 1000 x 1000px"
    },
{
      "type": "image_picker",
      "id": "image_1",
      "label": "Sun image",
	"info": "Size: 600 x 600px"
    },

    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
	"info": "Size: 800 x 1317px"
    },
	
    {
      "type": "select",
      "id": "layout",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
	 {
      "type": "text",
      "id": "sub_title",
      "label": "Sub heading"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
	{
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
	  "default": "#d1dfd7"
    }
  ],
"blocks": [
    {
      "type": "icon-image",
      "name": "Icon",
      "settings": [
     
	{
          "type": "image_picker",
          "id": "icon_image_hover",
          "label": "Icon",
		  "info": "Size: 500 x 500px"
        },
	{
      "type": "text",
      "id": "title",
      "label":"Heading"
    }
  ]
}
],
  "presets": [
    {
      "name": "Image with text",
      "category": "Image"
    }
  ]
}
{% endschema %}
