{%- if section.settings.hero_layout == 'full_width' and section.settings.hero_size == 'adapt' -%}
  {%- if section.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
  {%- else -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio -%}
  {%- endif -%}
  {%- assign wrapper_height = 100 | divided_by: min_aspect_ratio -%}
  {%- style -%}
    .hero-{{ section.id }} {
      height: {{- wrapper_height -}}vw !important;
    }
  {%- endstyle -%}
{%- endif -%}
<div data-section-id="{{ section.id }}" data-section-type="hero-section">
  <div class="page-width">
  {%- if section.settings.hero_layout == 'fixed_width' -%}
    
  {%- endif -%}
  {%- if section.settings.hero_layout == 'fixed_width' and section.settings.hero_size ==  'adapt' -%}
    {%- assign slide_width = 1090 -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio | default: 2.0 -%}
    <div class="hero-fixed-width hero--adapt"
         id="Hero-{{ section.id }}"
         data-layout="{{ section.settings.hero_layout }}">
      {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {%- if section.settings.image.width < max_width -%}
        {%- assign slide_width = section.settings.image.width -%}
      {%- endif -%}
      <div class="hero-fixed-width__content">
      
          {%- if section.settings.title != blank -%}
            <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.title | escape }}</h2>
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
          {%- endif -%}
          {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            <a href="{{ section.settings.button_link }}" class="btn hero__btn">
              {{ section.settings.button_label | escape }}
            </a>
          {%- endif -%}
       
      </div>
      {%- if section.settings.image != blank -%}
        <img class="hero-fixed-widthimage lazyload lazypreload"
             src="{{ section.settings.image | img_url: '900x900' }}"
             data-src="{{ img_url }}"
             data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
             data-aspectratio="{{ section.settings.image.aspect_ratio }}"
             data-sizes="auto"
             style="{%- if slide_width <= max_width -%}
                      {%- assign min_width = slide_width | times: 100 | divided_by: max_width -%}
                      min-width: {{ min_width }}%;
                    {%- endif -%}
                    object-position: {{ section.settings.alignment }};"
             alt="{{ section.settings.image.alt | escape }}">
      {%- else -%}
        <span>
          {% capture current %}{% cycle 1, 2 %}{% endcapture %}
          {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </span>
      {%- endif -%}
      <noscript>
        <div class="hero-fixed-width__image"{% if section.settings.image %}{% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}"{% endunless %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
      </noscript>
    </div>
  {%- else -%}
    <div class="hero">
      <div class="hero_inner hero{{ section.settings.hero_align }}">
        
        {%- if section.settings.image_icon != blank -%}
        <div class="icon_div">
          {% comment %}
           <img src="{{ section.settings.image_icon | img_url:'107x' }}" alt="" />
            {% endcomment %}
          
        <img src="{{ section.settings.image_icon | img_url:'600x' }}" alt="" />
        </div>
        {%- endif -%}
          
          {%- if section.settings.subtitle != blank -%}
           <h5 class="heading_h5">
             {{ section.settings.subtitle | escape }}</h5>
          {%- endif -%}          
          
          {%- if section.settings.title != blank -%}
            <h3 class="heading_h3">
              {{ section.settings.title | escape }}</h3>
          {%- endif -%}
          
          
          {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            {%- capture ariaLabel -%}
              {{- section.settings.button_label -}}
              {%- if section.settings.button_link.type == 'frontpage_link' -%}
                : {{ 'homepage.general.title' | t -}}
              {%- elsif section.settings.button_link.type == 'catalog_link' -%}
                : {{ 'collections.catalog.title' | t -}}
              {%- elsif section.settings.button_link.object.title -%}
                : {{ section.settings.button_link.object.title -}}
              {%- endif -%}
            {%- endcapture -%}

            <a href="{{ section.settings.button_link }}"
              class="btn hero__btn"
              aria-label="{{ ariaLabel }}">
              {{- section.settings.button_label | escape -}}
            </a>
          {%- endif -%}
        
      </div>
      <div class="hero_img play_icon">
        <div class="video_wrapper_home">
      {%- if section.settings.image != blank -%}
      {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img class="hero-fixed-width_image lazyload lazypreload"
             src="{{ section.settings.image | img_url: '900x900' }}"
             data-src="{{ img_url }}"
             data-widths="[180, 360, 470, 600, 770, 844, 970, 1060, 1280, 1512, 1728, 2048]"
             data-aspectratio="{{ section.settings.image.aspect_ratio }}"
             data-sizes="auto"
             style=""
             alt="{{ section.settings.image.alt | escape }}">
      {%- else -%}
        <span>
          {% capture current %}{% cycle 1, 2 %}{% endcapture %}
          {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </span>
      {%- endif -%}
      
    {%- if section.settings.image == blank -%}
      <div class="placeholder-background">
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- endif -%}
        
        
        
        
        
        {% if section.settings.vid_select == 'v_mp4' %}
      {%- assign videopath2 = section.settings.hero_video -%}  
        <span class="play_icon_span"></span>
    <video loop="loop" controls="controls" playsinline="true" preload="auto" class="hero_video_4 home-video-section" id="video1">
      <source src="{{ videopath2 }}" type="video/mp4">
    </video>
      {% endif %}
        
        
        {% if section.settings.vid_select == 'v_youtube' %}
      {% if section.settings.youtube_vid != blank %}
        <span class="play_icon_span"></span>
      <iframe id="playVideo_a" class="iframe_vid home-video-section" src="https://www.youtube.com/embed/{{ section.settings.youtube_vid }}?&modestbranding=1&showtitle=0&controls=0" frameborder="0" allow="autoplay" allowfullscreen></iframe>
      {% endif %}
      {% endif %}
        
        </div>
        
      </div>
      
    </div>
    <noscript>
      <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %}{% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}"{% endunless %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
    </noscript>
  {%- endif -%}
  {%- if section.settings.hero_layout == 'fixed_width' -%}
  
  {%- endif -%}
  </div>
</div>

{%- if section.settings.hero_bg != blank -%}
<style>
.index-section.home_hero{
  background-color:{{ section.settings.hero_bg }};
}  
</style> 
{%- endif -%}

<script>
 $(document).ready(function() {  
   $(".play_icon_span").click(function(){
    // alert(1);
    $(this).fadeOut();
     
     $('.hero-fixed-width_image').fadeOut();
     
     $('.hero_video_4').addClass('show_video'); 
     $('#video1').attr('autoplay', 'autoplay'); 
   //  $('#video1').get(0).play()    
    // $('#video1').play();
     
     
     
     $("#playVideo_a").css("opacity", "1");
    $("#playVideo_a")[0].src += "&autoplay=1";
    ev.preventDefault();
     
  });
   
   
 

   
 
});
  
       
$(window).on("load resize", function () {
  var vidimg_1 = $(".hero-fixed-width_image").height();
  $(".iframe_vid, .video_wrapper_home").css("height", vidimg_1);
});
</script>


{% schema %}
{
  "name": "Image with text overlay",
  "class": "index-section index-section--flush home_hero",
  "settings": [
	{
      "type": "image_picker",
      "id": "image_icon",
      "label": "icon image",
	  "info": "Size: 600 x 380px"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
	  "info": "Size: 1200 x 662px"
    },  
	{
      "type": "select",
      "id": "vid_select",
      "label": "Select video",
      "default": "v_mp4",
      "options": [
        {
          "value": "v_mp4",
          "label": "mp4"
        },
        {
          "value": "v_youtube",
          "label": "YouTube"
        }
      ]
    },
	{
      "type": "header",
      "content": "Video .mp4"
    },
	{
      "type": "text",
      "id": "hero_video",
      "label": "Video name[mp4]",
      "info": "10 - 15mb"
    },
	{
      "type": "header",
      "content": "YouTube"
    },
    {
      "type": "text",
      "id": "youtube_vid",
      "label": "YouTube ID"
    },

    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub heading",
      "default": "Sub heading"
    },    
    
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text overlay"
    },
    
{
  "type": "select",
  "id": "hero_align",
  "label": "Text alignment",
  "options": [
    {
      "value": "left",
      "label": "Left"
    },
    {
      "value": "right",
      "label": "Right"
    }
  ],
  "default": "left"
},
	{
      "type": "color",
      "id": "hero_bg",
      "label": "Background-color",
	   "default": "#f5f8f0"
    }
	
  ],
  "presets": [
    {
      "name": {
        "da": "Billede med tekstoverlejring",
        "de": "Foto mit überlegtem Text",
        "en": "Image with text overlay",
        "es": "magen con texto superpuesto",
        "fi": "Kuva päällä olevalla tekstillä",
        "fr": "Image avec calque texte",
        "hi": "पाठ ओवरले के साथ इमेज",
        "it": "Immagine con testo",
        "ja": "テキストオーバーレイ付き画像",
        "ko": "텍스트 오버레이 포함 이미지",
        "nb": "Bilde med tekstoverlegg",
        "nl": "Foto met tekstoverlay",
        "pt-BR": "Imagem com sobreposição de texto",
        "pt-PT": "Imagem com sobreposição de texto",
        "sv": "Bild med textöverlagring",
        "th": "การวางซ้อนรูปภาพพร้อมข้อความ",
        "zh-CN": "带文本叠加的图片",
        "zh-TW": "附文字疊加層的圖片"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}
