<div class="home_accordion">
<div class="wrapper_2 small--hide">
  
{% for block in section.blocks %}  
<div class="accordionHeader" id="ah{{ forloop.index }}" style="background-color:{{block.settings.tob_color}};"> 
<h2>{{ block.settings.title }}</h2>
</div>  
  
<div class="accordionContent  {% if forloop.index == 2 %}active{% endif %}" id="ac{{ forloop.index }}" style="background-color:{{block.settings.tob_color}};">
  <div class="img_accbox">
  <div class="img_acc">
    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {% include 'image-style', image: block.settings.image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}   
      <img id=""
           class="feature-row__image lazyload"
           src="{{ block.settings.image | img_url: '800x800' }}"
           data-src="{{ img_url }}"
           data-widths="[180, 340, 540, 720, 800, 900, 1080, 1296, 1512, 1728, 2048]"
           data-aspectratio="{{ section.settings.image.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ section.settings.image.alt | escape }}">
    
  </div>
  
  
  <div class="acc_info">
     {% if block.settings.subtitle != blank %}
   <h5 class="heading_h5">{{ block.settings.subtitle }}</h5>
     {% endif %}
    
     {% if block.settings.title != blank %}
    <h3 class="heading_h3 text-left">{{ block.settings.title }}</h3>
      {% endif %}
    
     {% if block.settings.price_text != blank %}
    <span>{{ block.settings.price_text }}</span>
     {% endif %}    
    
     {% if block.settings.info != blank %}
    {{ block.settings.info }}
     {% endif %}
    
     {% if block.settings.link_label != blank %}
    <a href="{{ block.settings.link }}" class="btn">{{ block.settings.link_label }}</a>
     {% endif %}
  </div>
  </div>
</div>  
 {% endfor %} 
  

</div>
  
  
<div class="mo_wrapper_2" style="display:none;"> 
{% for block in section.blocks %}  
  <h3 style="background-color:{{block.settings.tob_color}};">
    {{ block.settings.title }} <span class="arrow_d"></span></h3> 
<div class="content mo_accordionContent" id="mo_ac{{ forloop.index }}" style="background-color:{{block.settings.tob_color}};{% if forloop.index == 2 %}display:block{% endif %}">
  <div class="img_accbox">
  <div class="img_acc">
    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {% include 'image-style', image: block.settings.image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}   
      <img id=""
           class="feature-row__image lazyload"
           src="{{ block.settings.image | img_url: '800x800' }}"
           data-src="{{ img_url }}"
           data-widths="[180, 340, 540, 720, 800, 900, 1080, 1296, 1512, 1728, 2048]"
           data-aspectratio="{{ section.settings.image.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ section.settings.image.alt | escape }}">
    
  </div>
  
  
  <div class="acc_info">
     {% if block.settings.subtitle != blank %}
   <h5 class="heading_h5">
     {{ block.settings.subtitle }}
    </h5>
     {% endif %}
    
     {% if block.settings.title != blank %}
    <h3 class="heading_h3 text-left">{{ block.settings.title }}</h3>
      {% endif %}
    
     {% if block.settings.price_text != blank %}
    <span>{{ block.settings.price_text }}</span>
     {% endif %}    
    
     {% if block.settings.info != blank %}
    {{ block.settings.info }}
     {% endif %}
    
     {% if block.settings.link_label != blank %}
    <a href="{{ block.settings.link }}" class="btn">{{ block.settings.link_label }}</a>
     {% endif %}
  </div>
  </div>
</div>  
{% endfor %} 
</div>  
  
  
</div>

 
<script id="rendered-js">
$('.accordionHeader').on('click', function () {
  $('.accordionContent').removeClass('active');
});
$('#ah1').on('click', function () {
  $('#ac1').addClass('active');
});
$('#ah2').on('click', function () {
  $('#ac2').addClass('active');
});
$('#ah3').on('click', function () {
  $('#ac3').addClass('active');
});
$('#ah4').on('click', function () {
  $('#ac4').addClass('active');
});
$('#ah5').on('click', function () {
  $('#ac5').addClass('active');
});
//# sourceURL=pen.js
    </script>


<script>
$('.mo_wrapper_2 h3').click(function(e) {
  	//$('.mo_wrapper_2 h3').removeClass('actives');
	//$(this).addClass('actives');
    //Close all <div> but the <div> right after the clicked <a>
    $(e.target).next('div').siblings('div').slideUp('fast');
  
    //Toggle open/close on the <div> after the <h3>, opening it if not open.
    $(e.target).next('div').slideToggle('fast');
 
});
</script>



{% schema %}
  {
    "name": "Home accordion",
	"max_blocks": 5,
    "settings": [


],
 "blocks": [
    {
      "type": "home-accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
		"info": "size: 800 x 741px"
        },
	{
      "type": "text",
      "id": "subtitle",
      "label":"Sub heading"
    },
	{
      "type": "text",
      "id": "title",
      "label":"Heading"
    },
{
      "type": "text",
      "id": "price_text",
      "label":"Price"
    },
		{
      "type": "richtext",
      "id": "info",
      "label":"Content"
    },
	{
          "type": "text",
          "id": "link_label",
          "label": "Link label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
{
      "type": "color",
      "id": "tob_color",
      "label":"Tab color",
	  "default": "#fffde6"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home accordion",
      "category": "Image"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
