<div class="home_insta" style="background:{{ section.settings.large_border }};"> 
  
 <header class="section-header text-left">
    <div class="page-width p-0"> 
   {% if section.settings.instagram_at_text != blank %}
   <h5 class="heading_h5 text-left">
     <a href="{{ section.settings.instagram_link}}" target="_blank">{{ section.settings.instagram_at_text }}</a>
   </h5>
   {%- endif -%}  
   
   {%- if section.settings.instagram_at_title != blank -%}
            <h3 class="heading_h3 text-left">
              {{ section.settings.instagram_at_title | escape }}</h3>
          {%- endif -%}
      
  
      
      
      <div class="insta_icon parallax__element">
        
		 {%- if section.settings.insta_icon_1 != blank -%}
          <div class="flower_img3 parallax__element birds_icon birds_icon1">
            {% comment %}
           <img src="{{ section.settings.insta_icon_1 | img_url:'40x' }}" alt="" />
            {% endcomment %}
            
            <img src="{{ section.settings.insta_icon_1 | img_url:'master' }}" alt="" />
          </div>
           {%- endif -%}        
        
          {%- if section.settings.insta_icon != blank -%}
          <div class="flower_img2 parallax__element cloud_icon">
            {% comment %}
           <img src="{{ section.settings.insta_icon | img_url:'135x' }}" alt="" />
            {% endcomment %}
            <img src="{{ section.settings.insta_icon | img_url:'master' }}" alt="" />
          </div>
           {%- endif -%} 
          
          {%- if section.settings.insta_icon_1 != blank -%}
          <div class="flower_img3 parallax__element birds_icon birds_icon2">
            {% comment %}
           <img src="{{ section.settings.insta_icon_1 | img_url:'40x' }}" alt="" />
            {% endcomment %}
            
            <img src="{{ section.settings.insta_icon_1 | img_url:'master' }}" alt="" />
          </div>
           {%- endif -%}
          
        </div>
      
      
   </div>
  </header>
  
  
  
 <div class="page-width p-0 maxwidth_none"> 
  <div class="insta_feed_wrap">
<div class="insta_feed_section">
  
  <div id="insta-feeds">
  {% for block in section.blocks %}
 <div class="insta_box_new">
   {% if block.settings.link != blank %}
   <a href="{{ block.settings.link }}" target="_blank">
     {% endif %}
     {% if block.settings.image != blank %}
        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style' with image: block.settings.image, width: 545, height: 545, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
            <img id=""
                 class="feature-row__image lazyload"
                 src="{{ block.settings.image | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540]"
                 data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.image.alt | escape }}">
          </div>
        </div>
     {% endif %}
   {% if block.settings.link != blank %}
     <div class="instafeed-overlay"></div>
   </a>
   {% endif %}
  </div>
{% endfor %}
  </div>
  

  

    </div>
    
  </div>
   
		
  </div>
</div>  
<script type="lazyload2">
setTimeout(function() {
  $('#insta-feeds').slick({
  dots: false,
  infinite: true,
  speed: 2000,
    centerMode: false,
        centerPadding: '24px',
  slidesToShow:7,
  slidesToScroll: 1,
    arrows: false,
    cssEase: 'linear',
    autoplay: true,
    autoplaySpeed: 0,
    initialSlide: 0.5,
  responsive: [
    {
      breakpoint: 1199,
      settings: {
        slidesToShow: 7,
        slidesToScroll: 1,
        infinite: true

      }
    },
    {
      breakpoint: 991,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 767,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
  
  
  
    });
  </script>


{% schema %}
  {
    "name": "Instagram feed",
    "class": "index-section fullwidth_img insta_section panel",
    "settings": [
	{
        "type": "header",
        "content": "Instagram Feed"
      },
	{
        "type": "text",
        "id": "instagram_at_title",
        "label": "Heading"
      },
      
      {
        "type": "text",
        "id": "instagram_at_text",
        "label": "Instagram @"
      },
      {
        "type": "text",
        "id": "instagram_link",
        "label": "Instagram Link"
      },	
	{
        "type": "color",
        "id": "large_border",
        "label": "Background color",
        "default": "#f6faff"
      }	,

	{
        "type": "image_picker",
        "id": "insta_icon",
        "label": "Cloud image",
	    "info": "Size: 505 x 158px"
      },
{
        "type": "image_picker",
        "id": "insta_icon_1",
        "label": "Birds image",
	    "info" : "Size: 300 x 76px"
      }

    ],
	"blocks": [
    {
      "type": "insta_image",
      "name": "Image",
	   	
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
		  "info": "Size: 600 x 600px"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
"presets": [{
      "name": "Instagram New feed",
      "category": "Image"
      
    }]
  }
{% endschema %}


