

<div class="head-top-box">

  <div class="subscribe_video">

    {%- if section.settings.select_option_sb == 'video' -%}  
    {%- assign videopath = section.settings.video_name_sb -%} 
    <div class="video_box">
      <video id="svideo" loop="loop" autoplay="autoplay" muted="muted" playsinline="true" preload="auto" class="image-new-content-block__video_3 svideo">
      <source src="{{ videopath }}" type="video/mp4">
    </video>
      

      
    </div>
    {%- else -%}  
    
    <div class="subscribe_banner">
      
      {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {% include 'image-style', image: section.settings.image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
      <img id=""
           class="feature-row_image lazyload small--hide"
           src="{{ section.settings.image | img_url: '1600x1600' }}"
           data-src="{{ img_url }}"
           data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1600, 1728, 2048]"
           data-aspectratio="{{ section.settings.image.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ section.settings.image.alt | escape }}">
      
      {%- assign moimg_url = section.settings.mo_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {% include 'image-style', image: section.settings.mo_image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
      <img id=""
           class="feature-row_image lazyload large--hide"
           src="{{ section.settings.mo_image | img_url: '1600x1600' }}"
           data-src="{{ moimg_url }}"
           data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1600, 1728, 2048]"
           data-aspectratio="{{ section.settings.mo_image.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ section.settings.mo_image.alt | escape }}">

    
    {%- endif -%}  
      
       
      
    </div>
    
    
    
    
    
    <div class="video_text">
      <div class="video_content">
         <div class="slideshow__text-wrap slideshow__text-wrap--desktop {{ section.settings.content_position_sb }}_align">
<div class="slideshow__text-content">
        <div class="page-width">

          {% unless section.settings.slide_title_sb == blank and section.settings.subheading_sb == blank %}
          <ul class="slideshow__text-content-list">
            {%- unless section.settings.subheading_sb == blank -%}
            <li>
              <h2 class="{{ section.settings.slide_color_sb }}_color h1 mega-title slideshow__title{% if section.settings.text_size_sb == 'large' %} mega-title--large{% endif %}">
                {{ section.settings.subheading_sb | escape }}
              </h2>
            </li>
            {%- endunless -%}
            
             
            {%- unless section.settings.slide_title_sb == blank -%}
            <li>
              <span class="{{ section.settings.slide_color_sb }}_color mega-subtitle slideshow__subtitle{% if section.settings.text_size_sb == 'large' %} mega-subtitle--large{% endif %}">
                {{ section.settings.slide_title_sb | escape }}
              </span>
            </li>
            {%- endunless -%}
            {%- unless section.settings.text_sb == blank -%}
            <li>
              <span class="{{ section.settings.slide_color_sb }}_color our_rte slideshow__subtitle{% if section.settings.text_size_sb == 'large' %} mega-subtitle--large{% endif %}">
                {{ section.settings.text_sb | escape }}
              </span>
            </li>
            {%- endunless -%}
          </ul>
          {% endunless %}

          {%- assign show_link_button = false -%}
          {%- if section.settings.button_label_sb != blank and section.settings.button_link_sb != blank -%}
          {%- assign show_link_button = true -%}
          {%- endif -%}
          {%- if show_link_button -%}
          <div class="slideshow__btn-wrapper{% if section.settings.slide_title_sb != blank or section.settings.subheading_sb != blank %} slideshow__btn-wrapper--push{% endif %}">
            <a href="{{ section.settings.button_link_sb }}" class="btn slideshow__btn {{ section.settings.slide_color_sb }}_btncolor">
              {{ section.settings.button_label_sb | escape }}
            </a>
          </div>
          {%- endif -%}
        </div>
           </div>
        </div>
      </div>
    </div>
    
<div class="bottom_arrow">
      <div class="down_arrow section-1"></div>
  </div>
  </div>
 
    
</div>
  




{% schema %}
{
  "name": "Banner section",
  "class": "subscribe-section",
  
  "settings": [

{
      "type": "select",
      "id": "select_option_sb",
      "label": "Select option",
      "default": "image",
      "options": [
        {
          "label": "Image",
          "value": "image"
        },
        {
          "label": "Video",
          "value": "video"
        }
      ]
    },

   {
      "type": "header",
      "content": "1. Image *"
    },
{
          "type": "image_picker",
          "id": "image",
          "label": "Image",
		"info":"size: 2000 x 1001px"
        },
		{
          "type": "image_picker",
          "id": "mo_image",
          "label": "Mobile image",
		"info":"size: 800 x 688px"
        },

   {
      "type": "header",
      "content": "2. Video *"
    },
	{
      "type": "text",
      "id": "video_name_sb",
      "label": "Video name [.mp4]",
      "info": "Size: 10 - 15mb"
    },
  {
      "type": "header",
      "content": "Caption text"
    },
{
          "type": "select",
          "id": "content_position_sb",
          "label": "Text alignment",
          "options": [
            {
              "value": "middleLeft",
              "label": "Middle left"
            },
            {
              "value": "middleCenter",
              "label": "Middle center"
            },
            {
              "value": "middleRight",
              "label": "Middle right"
            },
            {
              "value": "bottomLeft",
              "label": "Bottom left"
            },
            {
              "value": "bottomCenter",
              "label": "Bottom center"
            },
            {
              "value": "bottomRight",
              "label": "Bottom right"
            }
          ],
          "default": "bottomLeft"
        },
      {
          "type": "text",
          "id": "subheading_sb",
          "label": "Subheading",
          "default": "Subscribe"
        },
        {
          "type": "textarea",
          "id": "slide_title_sb",
          "label": "Heading",
          "default": "Lorem ipsum dolor"
        },
        
        {
          "type": "text",
          "id": "button_label_sb",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_sb",
          "label": "Button link"
        },
{
  "type": "select",
  "id": "slide_color_sb",
  "label": "Text Color",
  "options": [
    {
      "value": "black",
      "label": "Dark blue"
    },
    {
      "value": "white",
      "label": "White"
    }
  ],
  "default": "black"
}
      
  ]
    
  
}
{% endschema %}
